<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Request Screen</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">  
    <script type="text/javascript" src="../controllers/GenerateRequestController.js"></script> 
   
</head>

<body>
    {{>header}}
    <br>
    <h1>Gerar Novo Pedido</h1>
    <br>
    <form>
        <div id="productBox">
            <input type = "text"  name="productName" placeholder="Nome do produto">
            <input type = "float" name="productQuantity" placeholder="Quantidade deste produto">
            <input type = "float" name="productPrice" placeholder="Valor unitário">
            <button type="button" onclick= "appendProduct(productName.value, productQuantity.value, productPrice.value)" name ="addProduct">+</button>
        </div>
        <br>
        <table id="productTable">
            <thead>
                <tr>
                <td>Nome</td>
                <td>Quantidade</td>
                <td>Preço Unitário</td>
                </tr>
            </thead>
            
        </table>
        <br>
        <p>Valor Total em produtos:</p>
        <div name="requestAmount "id="requestAmount" value="0">0</div>
        <br>
        <div id="requestInfoBox">
             
            <input type = "float" id = "ShippingFee"  name="ShippingFee" placeholder="Digite o valor do frete">
            <br>
            <input type = "text" id="invoice" name="invoice" placeholder="Digite a nota fiscal">
            <br>
            <input type = "float" id = "Discount"  name="Discount" placeholder="Digite o valor do desconto">
            <br>
            <form>
                <select id="shippingCompanyId" name = "shippingCompanyId">
                    {{#each shippingCompanyList}}
                     <option value={{id}}> {{nome}}</option>
                     {{/each}}
                </select>
            </form>
            <br>
            <button type="button" onclick="sendRequestInfo()" name = "confirmRegistry">Finalizar Cadastro</button>
        </div>
    </form>

    <p>{{feedback}}<br></p>
    <a href="/">Voltar</a>

    <br>
    {{>footer}}
   
</body>
</html> 