<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Request Screen</title>
    <link rel="stylesheet" type="text/css" href="/style.css">   
    <script type="text/javascript" src="../controllers/GenerateRequestController.js"></script> 
   
</head>

<body>
    
    <div class="header">
        
                <h1>Gerar Pedido</h1>
        
    </div>
    <form action = "/addRequest" method="POST">
        <div id="productBox">
            <input type = "text" name="productName" placeholder="Digite o nome do produto">
            <input type = "float" name="productQuantity" placeholder="Digite a quantidade deste item">
            <input type = "float" name="productPrice" placeholder="Digite o valor unitário do produto">
            <button type="button" onclick= "appendProduct(productName.value, productQuantity.value, productPrice.value)" name = "addProduct">+</button>
        </div>
          <table name="productTable" id="productTable">
                <thead>
                    <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Quantidade</td>
                    <td>Preço Unitário</td>
                    </tr>
                </thead>
                
            </table>

        <div id="requestInfoBox">
             
            <input type = "float" name="ShippingFee" placeholder="Digite o valor do frete">
            <br>
            <input type = "text" name="Invoice" placeholder="Digite a nota fiscal">
            <br>
            <input type = "float" name="Discount" placeholder="Digite o valor do desconto">
            <br>
            <form>
                <select name = "ShippingCompanyId">
                    {{#each shippingCompanyList}}
                     <option value={{id}}> {{nome}}</option>
                     {{/each}}
                </select>
            </form>
            <p>Valor Total do pedido:</p>
            <div name="requestAmount "id="requestAmount" data-value="0"></div>

            <button type="submit" name = "confirmRegistry">Finalizar Cadastro</button>               

        </div>
    </form>

    <p>{{feedback}}<br></p>
    <a href="/">Voltar</a>
   
</body>
</html> 