<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de Vendas</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">  
</head>
<h1>Sistema de Gerenciamento de Vendas</h1>
<body>
       <a href="/GenerateRequest"><li>Gerar novo Pedido</li></a>   
       <br>
       <a href="/VisualizeRequests"><li>Visualizar Pedidos</li></a>   
       <br>
       <a href="/RegisterProduct"><li>Registrar Novo Produto</li></a>   
       <br>
       <a href="/RegisterSupplier"><li>Registrar Novo Fornecedor</li></a>   
       <br>
       <a href="/RegisterShippingCompany"><li>Registrar Nova Transportadora</li></a>   
       <br>            
                     
    
</body>
</html>