<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Shipping Company Screen</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">   
   
</head>

<body>  
    {{>header}}
    <br>
    <h1>Registrar Nova Transportadora</h1>
    <br>
    <div class="RegisterShippingCompanyForm">
        <form action = "/addShippingCompany" method="POST">
            <div>
                <br>
                <input type = "text" name="ShippingCompanyName" placeholder="Digite o nome da Transportadora" required>
                <br>
                <br>
                <button class="formButton" type="submit" name = "confirmRegistry">Finalizar Cadastro</button>               

            </div>
        </form>
        <p>{{feedback}}<br></p>
        <a href="/">Voltar</a>
    </div> 
    <br>
    {{>footer}}
</body>
</html> 