<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Supplier Screen</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">  
    <script type="text/javascript" src="../controllers/RegisterSupplierController.js"></script> 
   
</head>

<body> 
    {{>header}} 
    <br>
    <h1>Registrar Novo Fornecedor</h1>
    <br>
    <form>
        <div>           
            <input type = "text" id="supplierName" name="supplierName" placeholder="Nome do Fornecedor" required>
            <input type = "text" id="supplierDescription" name="supplierDescription" placeholder="Descrição" required>
            <br>
             <input type = "text" id="supplierCity" name="supplierCity" placeholder="Cidade" required>  
             <input type = "text" id="supplierAddress" name="supplierAddress" placeholder="Endereço" required>
             <input type = "text" id="supplierNeighborhood" name="supplierNeighborhood" placeholder="Bairro" required>
             <input type = "text" id="supplierNumber" name="supplierNumber" placeholder="Número" required>
            <br><br>
            
            <div id = "emailBox">
                <form>
                    <input type = "text" id="newEmail" placeholder="E-mail"> 
                    <input type = "text" id="newEmailReference" placeholder="Referência">
                    <button type="button" onclick="appendEmail(newEmail.value, newEmailReference.value)">+</button> 
                </form>
            </div>
            <br>

            <table name="emailTable" id="emailTable">
                <thead>
                    <tr>
                        <td>E-mail</td>
                        <td>Referência</td>
                    </tr>
                </thead>
                
            </table>

            <br><br>

            <div id="telBox">
                <form>
                    <input type = "text" id="newTelDdd" placeholder="DDD" > 
                    <input type = "text" id="newTelNumber" placeholder="Número" > 
                    <input type = "text" id="newTelReference" placeholder="Referência" >
                    <button type="button" onclick= "appendTel(newTelDdd.value, newTelNumber.value, newTelReference.value)" name = "addTel">+</button>
                </form>
            </div>
            <br> 
            <table name="telTable" id="telTable">
                <thead>
                    <tr>
                       <td>DDD</td>
                       <td>numero</td>
                       <td>Referência</td>
                    </tr>
                </thead>
                
            </table>

            <br>
            <button type="button" onclick="sendSupplierInfo()">Finalizar Cadastro</button>
            <br><br>
            <a href="/">Voltar</a>               

        </div>
    </form>

    <br>
    {{>footer}}
</body>
</html> 