@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

table, th, td {
    border: 1px solid black;
    margin:auto;
    border-radius: 5px;
    border-collapse: collapse;
}


html,body{
  height: 100%;  
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #101010;
}

.header{
  color: white;
  background-color: #2a5ca7;
}

.footer{
  
  flex-shrink: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: #2a5ca7;
}

.homePageMenu{
  flex: 1 0 auto;

}

.RegisterShippingCompanyForm{
  text-align: center;
  border: 1px solid black;
  flex: 1 0 auto;
  
  
}

.RegisterSupplierForm{
  text-align: center;
  border: 1px solid black;
  flex: 1 0 auto;
}

.RegisterProductForm{
  text-align: center;
  border: 1px solid black;
  flex: 1 0 auto;
}

.GenerateRequestForm{
  text-align: center;
  border: 1px solid black;
  flex: 1 0 auto;
}

h1, a{
  color: white;
  text-align: center;
}
button{
  cursor: pointer;
}
.formButton{
  cursor: pointer;
}
#telTable{
  text-align: center;
}
